@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);

.container {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 360px;
    height: 200px;
    padding-left: 30px;   
}

p{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*troca de cores na tela pelo slider*/  
 :root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #337ab7;
    --bg-color: #161625;
    --heading-color: #818cab;
}

.table table-bordered table-dark{
  border-radius: 15px
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0 auto;
  font-size: calc(1rem + 0.25vh);
}


.post-meta {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 4vh;
  color: var(--secondary-color);
}
/*posicao e espacamento do slider*/
nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

/*slider animacao de troca*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}
/*Slider para modo noturno ajustes */
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}